DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=12345
DB_NAME=Project1
DB_TIMEZONE=+05:30
APP_TIMEZONE=Asia/Kolkata

SESSION_SECRET=change-me
SESSION_COOKIE_NAME=exam.sid
SESSION_TTL_MS=28800000
SESSION_CLEANUP_MS=900000
SESSION_TABLE_NAME=user_sessions
